/* Autorstwa Mateusza Patryka Wawrzyńca Drewniaka,
 jako projekt zaliczeniowy na zajęcia Pracowni Witryn i Aplikacji
 w III klasie Technikum Informatycznego w Zespole Szkół Komunikacji
 im. Hipolita Cegielskiego w Poznaniu. Rocznik 1999. */

body
{
	background-color: #303030; /*#303030*/
	color: #ffffff;
}

h1
{
	color: #BFF9FC;
}

a:not([href]):not([tabindex]){color: #fff !important;}

#wrapper
{
	background-color: #D9F0FF;
	opacity: 0.97;
}


header
{
	/* background-color: #F7F9F9; */
	background-image: url("../img/eight_horns.png");
	opacity: 0.94;
}

nav
{
	background-color: #343ab7;
}

#wrapper > footer
{
	color: #fff;
	background-color: #BFC2F6;
}

#wrapper > footer a{color: #FFDCBC;}

#wrapper > footer a:hover{color: #FF9E45;}


.inner-footer
{
	background-color: #2D34B5;
	color: #BFC2F6;
}

.inner-footer h3
{
	color: #e1e2f4;
}

.inner-footer h3:hover
{
	color: #fff;
	margin-left: 10px;
}



#wrapper > footer i, #wrapper > footer em
{
	color: #A5FBDB;
}

#wrapper > footer i.bootstrap{color: #8651D3;}
#wrapper > footer i.html{color: #F06529;}
#wrapper > footer i.css{color: #3399FF;}

#wrapper > footer span.rule_britannia:hover i.b{color: #00247D;}
#wrapper > footer span.rule_britannia:hover i.w{color: #fff;}
#wrapper > footer span.rule_britannia:hover i.r{color: #CF142B;}


nav ol > li:hover
{
	background-color: #4B51C8;
}

nav ol a{color: #fff;}

nav ol > li:hover > a
{
	color: #fff;
}

nav ol > li > ul, nav ol > li > ul > li, .dropdown-menu
{
	background-color: #6A70DA;
}

.dropdown-menu
{
	background-color: #6A70DA !important;
}


nav ol > li > ul > li > a, .dropdown-menu .dropdown-item
{
	color: #fff;
}

nav ol > li > ul > li:hover, .dropdown-menu .dropdown-item:hover
{
	background-color: #FFAF66;
}


nav ol > li > ul > li:hover > a .dropdown-menu .dropdown-item:hover
{
	color: #111E1C;
}

article
{
	background-color: #EDF8FF;
	opacity: 0.95;
}

article > ul > li > a
{
	color: #E69A4D;
}

a
{
	color: #E69A4D;
}

a:hover
{
	color: #C4782B;
}
